//!======================  Advantages  ==============================================================!
.about {
    text-align: center;
    align-items: center;
    background-color: #84a178;
    padding-top: 60px;
    padding-bottom: 60px;

    &__container {
        position: relative;
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    &__sup-title {
        margin-bottom: 12px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;

        color: #fcfcfc;
    }

    &__title {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 54px;
        font-family: 'Seymour One';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 38px;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: #fcfcfc;
    }

    &__img {
        z-index: 10;
        position: relative;
        margin-bottom: 40px;
        border-radius: 50%;
    }

    &__img-bg {
        position: absolute;
        top: 183px;
        left: 50%;
        width: 278px;
        height: 278px;
        background: linear-gradient(0deg,
                rgba(248, 210, 78, 0.7),
                rgba(248, 210, 78, 0.7)),
            #d9d9d9;
        box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
        border-radius: 50%;
        transform: translate(-50%);
    }
}

.description {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    &__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 176%;
        letter-spacing: 0.04em;

        color: #fcfcfc;
    }

    &__text--tablet {
        margin-top: 8px;
        display: none;
    }

    &__text:first-child {
        margin-bottom: 4px;
    }
}

.description__body-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.description__btn {
    position: relative;
    width: 152px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 29px;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;

    color: #000000;
    background-color: #F8D24E;
    border: 2px solid #F8D24E;
    border-radius: 10px;

    transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1),
            color 400ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 400ms cubic-bezier(0.4, 0, 0.2, 1);

    overflow: hidden;
    z-index: 1;

    &:hover,
    &:active {
        color: #000000;
        background-color: rgb(10, 136, 23);
        border-color: rgba(10, 136, 23, 1);
    }

    &:focus {
        color: #FCFCFC;
        background-color: rgb(10, 136, 23);
        border-color: rgba(10, 136, 23, 1);
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: -50px;
        bottom: 0;
        left: 0;
        border-right: 50px solid transparent;
        border-top: 50px solid rgb(10, 136, 23);

        transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateX(-100%);
        z-index: -1;
    }

    &:hover:before,
    &:active:before,
    &:focus:before {
        transform: translateX(0);
    }
}

.description__icon {
    margin: 0px 0px 0px 7px;
    fill: currentColor;
}

@media screen and (max-width: 767px) {
    .description__body-btn {
        margin: 20px 0px 40px 0px;
    }
    .description__btn{
        width: 164px;
    }
}

.benefits-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
        display: block;
        content: ' ';
        width: 50px;
        height: 50px;
        margin-bottom: 16px;
    }

    &:nth-child(1)::before {
        background-image: url(../img/cow.svg);
    }

    &:nth-child(2)::before {
        background-image: url(../img/weight.svg);
    }

    &:nth-child(3)::before {
        background-image: url(../img/ice.svg);
    }
}

.benefits-list__number {
    margin-bottom: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #fcfcfc;
}

.benefits-list__text {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;

    color: #fcfcfc;
}

@media screen and (min-width: 320px) {
    .about {
        padding: 60px 0px 50px 0px;
    }
}

@media screen and (min-width: 768px) {
    .about {
        padding-bottom: 204px;

        &__container {
            max-width: 768px;
            padding-left: 32px;
            padding-right: 32px;
        }

        &__sup-title {
            font-weight: 800;
            font-size: 22px;
            line-height: 27px;
            letter-spacing: 0.04em;
        }

        &__title {
            width: 100%;
            margin-bottom: 79px;
            font-size: 34px;
            line-height: 43px;
            letter-spacing: 0.06em;
        }

        &__flex {
            display: flex;
        }

        &__img {
            margin-right: 32px;
            margin-bottom: 0;
            width: 330px;
            height: 330px;
        }

        &__img-bg {
            top: 132px;
            left: 197px;
            width: 330px;
            height: 330px;
            border-radius: 50%;
        }
    }

    .description {
        padding: 0;
        width: 334px;
        text-align: left;

        &__text {
            margin-bottom: 8px;
        }

        &__text--tablet {
            margin-bottom: 48px;
            display: block;
        }
    }

    .description__btn {
        margin-bottom: 56px;
        margin-left: 0;
        margin-right: 0;
        width: 168px;
        height: 42px;
    }

    .benefits-list {
        display: flex;
        justify-content: center;

        &__item {
            width: 152px;
        }

        &__item:not(:last-child) {
            margin-right: 80px;
        }

        &__icon {
            margin-bottom: 32px;
        }

        &__number {
            margin-bottom: 16px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 59px;
            letter-spacing: 0.04em;
            text-transform: uppercase;

            color: #ffffff;
        }

        &__text {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
            font-weight: 400;
            font-size: 14px;
            line-height: 174%;

            color: #ffffff;
        }
    }
}

@media screen and (min-width: 1200px) {
    .about {
        padding-bottom: 180px;

        &__container {
            max-width: 1200px;
            padding-left: 16px;
            padding-right: 16px;
        }

        &__sup-title {
            font-size: 30px;
            line-height: 37px;
        }

        &__title {
            margin-bottom: 172px;
            font-size: 36px;
            line-height: 45px;
        }

        &__img {
            margin: 0;
            z-index: 10;
            position: relative;
            top: -50px;
            width: 490px;
            height: 490px;
        }

        &__img-bg {
            top: 176px;
            left: 261px;
            width: 490px;
            height: 490px;
        }
    }

    .description {
        width: 463px;
        text-align: left;

        &__text {
            margin-bottom: 8px;
            font-size: 16px;
        }

        &__text--tablet {
            margin-top: 0;
            margin-bottom: 48px;
        }
    }

    .description__btn {
        width: 164px;
        margin-bottom: 159px;
    }

    .benefits-list__item {
        width: 368px;
    }

    .benefits-list__item:not(:last-child) {
        margin-right: 32px;
    }

    .benefits-list__number {
        font-size: 58px;
        line-height: 71px;
    }

    .benefits-list__text {
        padding-bottom: 0;
        font-size: 16px;
        line-height: 28px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .about {
        padding: 60px 0px 130px 0px;
    }
    .benefits-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &__item {
            width: 210px;
        }

        &__item:last-child {
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        &__text {
            width: 180px;
            padding: 0;
        }
    }
}