<section class="customer-reviews">
  <div class="customer-reviews__wrapper">
    <h2 hidden>Customer reviews</h2>

    <div class="customer-reviews__thumb">
      <picture>
        <source
          srcset="
            ../src/images/customer-reviews/many-ice-cream.jpg    1x,
            ../src/images/customer-reviews/many-ice-cream@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ../src/images/customer-reviews/many-ice-cream-tablet.jpg    1x,
            ../src/images/customer-reviews/many-ice-cream-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../src/images/customer-reviews/many-ice-cream-mobile-from480.jpg    1x,
            ../src/images/customer-reviews/many-ice-cream-mobile-from480@2x.jpg 2x
          "
          media="(min-width: 480px)"
        />
        <source
          srcset="
            ../src/images/customer-reviews/many-ice-cream-mobile.jpg    1x,
            ../src/images/customer-reviews/many-ice-cream-mobile@2x.jpg 2x
          "
          media="(max-width: 479px)"
        />
        <img
          src="../src/images/customer-reviews/many-ice-cream.jpg"
          alt="a lot of ice cream"
          class="customer-reviews_img"
        />
      </picture>
    </div>

    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="customer-reviews__slide">
            <div class="customer-reviews__thumb-foto">
              <img
                class="customer-reviews__foto"
                srcset="
                  ../src/images/customer-reviews/reviewer-1.jpg    1x,
                  ../src/images/customer-reviews/reviewer-1@2x.jpg 2x
                "
                src="../src/images/customer-reviews/reviewer-1.jpg"
                alt="a lot of ice cream"
                width="85"
                height="85"
              />
            </div>
            <p class="customer-reviews__text">
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
            <p class="customer-reviews__desc">Emily, Los Angeles</p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="customer-reviews__slide">
            <div class="customer-reviews__thumb-foto">
              <img
                class="customer-reviews__foto"
                srcset="
                  ../src/images/customer-reviews/reviewer-2.jpg    1x,
                  ../src/images/customer-reviews/reviewer-2@2x.jpg 2x
                "
                src="../src/images/customer-reviews/reviewer-2.jpg"
                alt="a lot of ice cream"
                width="85"
                height="85"
              />
            </div>
            <p class="customer-reviews__text">
              I love eating popsicles on a hot day. Yours is always delicious. I
              recommend your cafe to everyone I know.
            </p>
            <p class="customer-reviews__desc">Sam, Los Angeles</p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="customer-reviews__slide">
            <div class="customer-reviews__thumb-foto">
              <img
                class="customer-reviews__foto"
                srcset="
                  ../src/images/customer-reviews/reviewer-3.jpg    1x,
                  ../src/images/customer-reviews/reviewer-3@2x.jpg 2x
                "
                src="../src/images/customer-reviews/reviewer-3.jpg"
                alt="a lot of ice cream"
                width="85"
                height="85"
              />
            </div>
            <p class="customer-reviews__text">
              Ice cream is my passion! I love your chocolate hazelnut ice cream!
              And I really like the excellent service - always served politely
              and quickly!
            </p>
            <p class="customer-reviews__desc">Diana, Chicago</p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="customer-reviews__slide">
            <div class="customer-reviews__thumb-foto">
              <img
                class="customer-reviews__foto"
                srcset="
                  ../src/images/customer-reviews/reviewer-4.jpg    1x,
                  ../src/images/customer-reviews/reviewer-4@2x.jpg 2x
                "
                src="../src/images/customer-reviews/reviewer-4.jpg"
                alt="a lot of ice cream"
                width="85"
                height="85"
              />
            </div>
            <p class="customer-reviews__text">
              Every day we come to you with friends after classes in college. We
              love your ice cream and casual atmosphere!
            </p>
            <p class="customer-reviews__desc">Bryan, New-York</p>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
