<footer class="footer">
    <div class="footer__container">
        <div class="footer__top top-footer">
            <div class="top-footer__info">
                <p class="top-footer__sup-titel">
                    homemade ice cream made
                </p>
                <h2 class="top-footer__titel">
                    with passion
                </h2>
            </div>
            <div class="top-footer__contacts">
                <ul class="top-footer__list-social social-list">
                    <li tabindex="1" class="social-list__item">
                        <a href="./index.html" class="social-list__link" target="_blank" rel="noopener noreferrer">
                            <svg class="social-list__icon" width="20" height="20">
                                <use href="./icons/sprite.svg#icon-git"></use>
                            </svg>
                        </a>
                    </li>
                    <li tabindex="1" class="social-list__item">
                        <a href="./index.html" class="social-list__link" target="_blank" rel="noopener noreferrer">
                            <svg class="social-list__icon" width="20" height="20">
                                <use href="./icons/sprite.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li tabindex="1" class="social-list__item">
                        <a href="./index.html" class="social-list__link" target="_blank" rel="noopener noreferrer">
                            <svg class="social-list__icon" width="20" height="20">
                                <use href="./icons/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p class="top-footer__text">
                    Feel free to contact
                    <a href="tel:+610383766284" class="top-footer__link">
                        +61 (0) 383 766 284
                    </a>
                </p>
            </div>
        </div>
        <div class="footer__bottom bottom-footer">
            <p class="bottom-footer__text">
                © 2022 - IceCream. All Rights Reserved.
            </p>
        </div>
    </div>
</footer>