<header class="header">
    <div class="header__container">
        <div class="header__top top-header">
            <div class="top-header__inner">
                <a href="./index.html" class="top-header__logo">
                    <img class="top-header__logo-img" src="./images/header/logo/logo.png" alt="logo page">
                </a>
                <nav class="top-header__nav nav-header">
                    <ul class="nav-header__list">
                        <li class="nav-header__item">
                            <a href="#" class="nav-header__link">
                                Home
                            </a>
                        </li>
                        <li class="nav-header__item">
                            <a href="#" class="nav-header__link">
                                About us
                            </a>
                        </li>
                        <li class="nav-header__item">
                            <a href="#" class="nav-header__link">
                                How it’s made?
                            </a>
                        </li>
                        <li class="nav-header__item">
                            <a href="#" class="nav-header__link">
                                Our products
                            </a>
                        </li>
                        <li class="nav-header__item">
                            <a href="#" class="nav-header__link">
                                Contact
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- Burger -->
                <div class="top-header__button-wrapp">
                    <div class="burger-menu header-burger">
                        <div class="header-burger__icon">
                            <span></span>
                        </div>
                        <div class="header-burger__body body-burger">
                            <nav class="header-burger__nav">
                                <ul class="body-burger__list">
                                    <li class="body-burger__item">
                                        <a href="#" class="body-burger__link">
                                            Home
                                        </a>
                                    </li>
                                    <li class="body-burger__item">
                                        <a href="#" class="body-burger__link">
                                            About us
                                        </a>
                                    </li>
                                    <li class="body-burger__item">
                                        <a href="#" class="body-burger__link">
                                            How it’s made?
                                        </a>
                                    </li>
                                    <li class="body-burger__item">
                                        <a href="#" class="body-burger__link">
                                            Our products
                                        </a>
                                    </li>
                                    <li class="body-burger__item">
                                        <a href="#" class="body-burger__link">
                                            Contact
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--  -->
                    <button class="top-header__btn">
                        Buy now
                        <svg class="top-header__icon" width="16" height="12">
                            <use href="./icons/sprite.svg#icon-chevron"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="header__content content-header">
            <div class="content-header__inner">
                <h1 class="content-header__titel">
                    ice cream
                    made with
                    passion
                </h1>
                <ul class="content-header__list-btn btn-list-header">
                    <li class="btn-list-header__item">
                        <button class="btn-list-header__btn">
                            Products
                        </button>
                    </li>
                    <li class="btn-list-header__item">
                        <a href="#" class="btn-list-header__link">
                            How it’s made?
                        </a>
                    </li>
                </ul>
                <div class="content-header__info info-content-header">
                    <div class="info-content-header__body-img"></div>
                    <ul class="info-content-header__list-description description-list-header">
                        <li class="description-list-header__item">
                            <p class="description-list-header__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et
                            </p>
                        </li>
                        <li class="description-list-header__item">
                            <button class="description-list-header__btn">
                                <div class="description-list-header__arrow"></div>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-header__inner-bg bg-header-content">
                <div class="bg-header-content__body-img"></div>
                <ul class="bg-header-content__list list-bg-header-content">
                    <li class="list-bg-header-content__item">
                        <h3 class="list-bg-header-content__titel">
                            16
                        </h3>
                        <p class="list-bg-header-content__text">
                            cafes
                        </p>
                    </li>
                    <li class="list-bg-header-content__item">
                        <h3 class="list-bg-header-content__titel">
                            23
                        </h3>
                        <p class="list-bg-header-content__text">
                            food trucks
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>