//!======================  Header  ==================================================================!
.header {
    background-color: #84A278;

    background-image: url(../images/header/header-bg.png);
    background-repeat: no-repeat;
    background-position-x: 48%;
    background-position-y: 98%;
    background-size: 122ch;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url('../images/header/header-bg@2x.png');
    }

    // &__container {}

    &__top {
        min-height: 100px;

        padding: 5px 0;
    }

    &__content {
        display: flex;
        padding: 60px 0px 0px 0px
    }
}

.top-header {
    &__inner {
        display: flex;
        align-items: center;
    }

    &__logo {
        z-index: 3;
    }

    // &__logo-img {}

    &__nav {
        margin: 0px 144px 0px 274px;
    }

    &__btn {
        position: relative;
        width: 152px;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px 29px;

        font-weight: 600;
        font-size: 14px;
        line-height: 1.21;

        color: #000000;
        background-color: #F8D24E;
        border: 2px solid #F8D24E;
        border-radius: 10px;

        transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1),
            color 400ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 400ms cubic-bezier(0.4, 0, 0.2, 1);

        overflow: hidden;
        z-index: 2;

        &:hover,
        &:active {
            color: #000000;
            background-color: rgb(10, 136, 23);
            border-color: rgba(10, 136, 23, 1);
        }

        &:focus {
            color: #FCFCFC;
            background-color: rgb(10, 136, 23);
            border-color: rgba(10, 136, 23, 1);
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: -50px;
            bottom: 0;
            left: 0;
            border-right: 50px solid transparent;
            border-top: 50px solid rgb(10, 136, 23);

            transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
            transform: translateX(-100%);
            z-index: -1;
        }

        &:hover:before,
        &:active:before,
        &:focus:before {
            transform: translateX(0);
        }
    }

    &__icon {
        margin: 0px 0px 0px 7px;
        fill: currentColor;
    }
}

.nav-header {
    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        &:not(:last-child) {
            margin: 0px 27px 0px 0px;
        }
    }

    &__link {
        position: relative;
        padding: 12px 0;

        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;

        color: #FCFCFC;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 4px;
            background-color: #F8D24E;
            border-radius: 2px;
            transform: scaleX(0);
            transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1),
                color 400ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:hover,
        &:focus {
            color: #F8D24E;
        }

        &:hover::after,
        &:focus::after {
            transform: scaleX(1);
        }
    }
}

//!=======================  Header Content (1)

.content-header {
    &__inner {
        display: flex;
        flex-direction: column;
        flex: 0 1 50%;
    }

    &__inner-bg {
        display: flex;
        justify-content: flex-end;
        flex: 0 1 50%;

        filter: drop-shadow(0px 0px 100px rgb(228, 221, 221));
        background-image: url(../images/header/header-content/header-content-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('../images/header/header-content/header-content-bg@2x.png');
        }
    }

    &__titel {
        width: 367px;
        margin: 0px 0px 28px 0px;

        text-transform: uppercase;
        font-family: 'Seymour One', sans-serif;
        font-weight: 400;
        font-size: 38px;
        line-height: 1.26;
        letter-spacing: 0.04em;
    }

    &__list-btn {
        display: flex;

        margin: 0px 0px 40px 0px;
    }

    &__info {
        display: flex;
        margin: 0px 0px 60px 0px;
    }
}


.btn-list-header {
    &__item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin: 0px 26px 0px 0px;
        }
    }

    &__btn {
        position: relative;
        width: 134px;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        padding: 10px 34px;

        font-weight: 600;
        font-size: 14px;
        line-height: 1.28;

        color: #131313;
        background-color: transparent;
        border: 2px solid#F8D24E;
        border-radius: 10px;
        transition: border-color 400ms cubic-bezier(0.4, 0, 0.2, 1),
            color 400ms cubic-bezier(0.4, 0, 0.2, 1);

        overflow: hidden;
        z-index: 0;

        &:hover,
        &:active {
            color: #000000;
            border-color: rgba(10, 136, 23, 1);
        }

        &:focus {
            color: #FCFCFC;
            border-color: rgba(10, 136, 23, 1);
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: -50px;
            bottom: 0;
            left: 0;
            border-right: 50px solid transparent;
            border-top: 50px solid rgb(98, 129, 85);

            transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
            transform: translateX(-100%);
            z-index: -1;
        }

        &:hover:before,
        &:active:before,
        &:focus:before {
            transform: translateX(0);
        }
    }

    &__link {
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration-line: underline;

        font-weight: 600;
        font-size: 14px;
        line-height: 1.21;

        color: #F8D24E;
        transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1),
            text-decoration-line 400ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: #0A8817;
            text-decoration-line: underline;
        }

        &:focus {
            color: #FCFCFC;
            text-decoration-line: underline;
        }
    }
}


.info-content-header {
    &__body-img {
        width: 225px;
        height: 225px;
        margin: 0px 33px 0px 0px;
        border-radius: 50%;

        background-color: transparent;
        background-image: url(../images/header/header-content/header-content.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('../images/header/header-content/header-content@2x.png');
        }
    }

    &__list-description {
        width: 200px;
        padding: 66px 0px 0px 0px;

        display: flex;
        flex-direction: column;
    }
}

.description-list-header {
    &__item {
        &:not(:last-child) {
            margin: 0px 0px 30px 0px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;

        color: #FFFFFF;
    }

    &__btn {
        position: relative;
        width: 134px;
        height: 42px;

        background-color: transparent;

        transition: animation 400ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            animation: description-list-header__arrow 1s linear infinite;
        }

        &:hover .description-list-header__arrow {
            width: 50px;
            background-color: #FFFFFF;
        }

        &:hover .description-list-header__arrow::after {
            background-color: #FFFFFF;
        }

        &:hover .description-list-header__arrow::before {
            background-color: #FFFFFF;
        }
    }

    &__arrow {
        position: relative;
        display: block;

        top: 0;
        left: 0;

        width: 40px;
        height: 2px;

        background-color: #FFFFFF;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .2);

        transition: width 400ms cubic-bezier(0.4, 0, 0.2, 1);

        &::after {
            content: '';
            position: absolute;
            width: 15px;
            height: 2px;
            top: -5px;
            right: -4px;
            background-color: #FFFFFF;
            transform: rotate(45deg);
        }

        &::before {
            content: '';
            position: absolute;
            width: 15px;
            height: 2px;
            top: 5px;
            right: -4px;
            background-color: #FFFFFF;
            box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
            transform: rotate(-45deg);
        }
    }
}

@keyframes description-list-header__arrow {
    0% {
        left: 0;
    }

    50% {
        left: 10px;
    }

    100% {
        left: 0;
    }
}

//!=======================  Header Content (2)

.bg-header-content {
    &__list {
        display: flex;
        flex-direction: column;
    }
}

.list-bg-header-content {
    &__item {
        &:not(:last-child) {
            margin: 0px 0px 16px 0px;
        }
    }

    &__titel {
        font-weight: 900;
        font-size: 46px;
        line-height: 1.21;

        text-align: right;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: #131313;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;

        text-align: right;
        color: #FFFFFF;
    }
}

@media (max-width: 1199px) {
    .header {
        background-image: url(../images/header/header-bg-768.png);
        background-repeat: no-repeat;
        background-position-x: 48%;
        background-position-y: 98%;
        background-size: contain;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('../images/header/header-bg-768@2x.png');
        }
    }

    .info-content-header {
        &__body-img {
            width: 155px;
            height: 155px;

            background-color: transparent;
            background-image: url(../images/header/header-content/header-content-768.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: url('../images/header/header-content/header-content-768@2x.png');
            }
        }

        &__list-description {
            padding: 28px 0px 0px 0px;
        }
    }

    .content-header {
        filter: drop-shadow(0px 0px 100px rgb(228, 221, 221));
        background-image: url(../images/header/header-content/header-content-bg.png);
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-size: contain;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('../images/header/header-content/header-content-bg@2x.png');
        }

        &__inner-bg {
            background-image: none;
        }
    }

    .description-list-header {
        &__item {
            &:not(:last-child) {
                margin: 0px 0px 10px 0px;
            }
        }
    }

    // !==========================!
    .top-header {
        &__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__nav {
            margin: 0;
        }
    }

    .nav-header {
        &__list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__item {
            &:not(:last-child) {
                margin: 0px 20px 0px 0px;
            }
        }
    }

    // !==========================!
    .content-header {
        &__info {
            margin: 0px 0px 60px 0px;
        }
    }

    .list-bg-header-content {
        &__item {
            &:not(:last-child) {
                margin: 0px 0px 20px 0px;
            }
        }

        &__titel {
            font-size: 28px;
        }

        &__text {
            font-size: 8px;
            line-height: 1.25;
        }
    }
}

@media (max-width: 840px) {
    .content-header {
        filter: drop-shadow(0px 0px 100px rgb(228, 221, 221));
        background-image: url(../images/header/header-content/header-content-bg.png);
        background-repeat: no-repeat;
        background-position-x: 80%;
        background-position-y: 100%;
        background-size: 36%;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('../images/header/header-content/header-content-bg@2x.png');
        }
    }
}

@media (max-width: 768px) {
    .header {
        background-image: url(../images/header/header-bg-768.png);
        background-repeat: no-repeat;
        background-position-x: 48%;
        background-position-y: 99%;
        background-size: contain;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('../images/header/header-bg-768@2x.png');
        }
    }

    .info-content-header {
        &__body-img {
            width: 152px;
            height: 152px;

            background-image: url(../images/header/header-content/header-content-768.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: url('../images/header/header-content/header-content-768@2x.png');
            }
        }
    }

    .content-header {
        filter: drop-shadow(0px 0px 100px rgb(228, 221, 221));
        background-image: url(../images/header/header-content/header-content-bg-768.png);
        background-repeat: no-repeat;
        background-position: 87%, 1%;
        background-size: contain;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('../images/header/header-content/header-content-bg-768@2x.png');
        }
    }


    .btn-list-header {
        &__item {
            &:not(:last-child) {
                margin: 0px 18px 0px 0px;
            }
        }

        &__btn {
            width: 62px;

            padding: 5px 29px;

            font-size: 8px;
            line-height: 1.25;

            border-radius: 8px;
        }

        &__link {
            font-size: 8px;
            line-height: 1.25;
        }
    }

    .header__content {
        padding: 0 17px;
    }

    .description-list-header {
        &__item {
            &:not(:last-child) {
                margin: 0px 0px 5px 0px;
            }
        }

        &__text {
            width: 151px;
            font-size: 12px;
        }
    }

    // !==========================!

    .top-header {
        &__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__button-wrapp {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        &__nav {
            display: none;
        }
    }

    .content-header {
        &__titel {
            width: 181px;
            margin: 0px 0px 20px 0px;

            font-weight: 400;
            font-size: 18px;
            line-height: 1.27;
        }

        &__list-btn {
            margin: 0px 0px 28px 0px;
        }

        &__info {
            margin: 0px 0px 13px 0px;
        }
    }

    // !==========================!
    .info-content-header__list-description {
        padding: 21px 0 0;
    }
}

@media (max-width: 640px) {
    .header {
        background-image: url(../images/header/header-bg-768.png);
        background-repeat: no-repeat;
        background-position-x: 48%;
        background-position-y: 99%;
        background-size: contain;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('../images/header/header-bg-768@2x.png');
        }
    }

    .content-header {
        filter: drop-shadow(0px 0px 100px rgb(228, 221, 221));
        background-image: url(../images/header/header-content/header-content-bg-768.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('../images/header/header-content/header-content-bg-768@2x.png');
        }
    }

    .info-content-header {
        display: none;
    }

    .btn-list-header {
        margin: 0px 0px 150px 0px;
    }
}

@media (max-width: 550px) {
    .header {
        background-image: url(../images/header/header-bg-320.png);
        background-repeat: no-repeat;
        background-position-x: 48%;
        background-position-y: 99%;
        background-size: contain;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('../images/header/header-bg-320@2x.png');
        }
    }

    .list-bg-header-content {
        display: none;
    }

    .content-header {
        filter: drop-shadow(0px 0px 50px rgb(228, 221, 221));
        background-image: url(../images/header/header-content/header-content-bg-320.png);
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 100%;
        background-size: 20vh;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('../images/header/header-content/header-content-bg-320@2x.png');
        }
    }

    .content-header {
        padding: 10px 0px 0px 0px;

        &__titel {
            width: 247px;
            margin: 0px 0px 32px 0px;

            font-size: 26px;
        }

        &__list-btn {
            margin: 0px 0px 239px 0px;
        }
    }
}

@media (max-width: 480px) {
    .top-header {
        &__btn {
            display: none;
        }
    }
}